button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.EditButton {
  padding: 10px;
  border-radius: 10px;
}

.EditButton:hover {
  background-color: rgba(250, 250, 250, 0.2);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.EditButton_active {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.DeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.DeleteButton:hover {
  background-color: rgb(253, 75, 73);
  box-shadow: 0 0 10px rgba(253, 75, 73, 0.7);
}

.DeleteButton_active {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-color: white;
}
