.ProgressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  margin-bottom: 30px;
}

.ProgressBar_bar {
  width: 450px;
  height: 10px;
  border-radius: 10px;
  background-color: #1a1d27;
  box-shadow: 0 0 30px rgba(26, 29, 39, 0.5);
  margin-top: 15px;
}

.ProgressBar_progress {
  height: 10px;
  border-radius: 10px;
  background-color: #00ff47;
  box-shadow: 0 0 30px rgba(0, 255, 71, 0.3);
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
