.task,
.task_complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  font-weight: 500;
  font-size: 15px;
  transition: 200ms;
  cursor: pointer;
}

.task_complete {
  text-decoration: line-through;
  opacity: 30%;
  transition: 200ms;
}

.task_complete img {
  opacity: 100%;
  transition: 200ms;
}

.task_name {
  display: flex;
  align-items: center;
  width: 250px;
  height: 100%;
  gap: 15px;
  transition: 200ms;
}

.task_time,
.task_time_active {
  position: fixed;
  opacity: 80%;
  transform: translateX(-100%) translateY(-50%) scale(1);
  transition: 200ms;
}

.task_time_active {
  transform: translateX(-100%) translateY(-50%) scale(0);
  transition: 200ms;
}

.task_delete,
.task_delete_active {
  position: fixed;
  height: 45px;
  width: 45px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: translateX(-80%) translateY(-45%) scale(0);
  transition: 200ms;
}

.task_delete_active {
  transform: translateX(-90%) translateY(-45%) scale(1);
  transition: 200ms;
}

